<div class="search-form mt-4">
    <form class="row g-3" method="POST">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="inputEmail4">
        </div>

        <div class="col-md-6">
            <label for="input4" class="form-label">Giới tính</label>
            <select name="gender" class="form-control" id="input4">
                <option>--Chọn giới tính--</option>
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>
    
    
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>
</div>